<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>Hello, I'm Shinji, a Brazilian Nikkei currently residing in Aichi, Japan, and I'm a web developer. Before moving to Japan, I was working with some freelance graphic design projects.
          In 2019, my family and I moved to Japan in search of better opportunities. In the start was hard to find any job, but we found opportunities in a factory.
          After saving up for further studies, I searched some coding courses and bootcamps, then discovering Le Wagon. I recently graduated from Le Wagon and I'm actively seeking new opportunities in the field.
          I have a passion for games and stunning graphics and would love to work in the field!</p>
      </div>
    </div>
  </div>
</div>
