<div class="row justify-content-center banner">
  <div class="col-12 banner-bg d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center hidden">
      <h1>Who's Shinji?</h1>
      <p>Scroll down</p>
      <i class="fa-solid fa-angles-down fa-beat" style="color: #ffffff;"></i>
    </div>
  </div>
</div>
