
.card-product {
  overflow: hidden;
  height: 40vh;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  border-inline-start: 2px solid;
  border-block-start: 2px solid;
  border-image-source: radial-gradient(
    circle at top left,
    #FFB96A,
    #FFCD6A,
    transparent 70%
  );
  border-image-slice: 1;
}

.card-product img {
  height: inherit;
  width: 300px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}


.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 12px;
}

.card-product .card-product-infos {
  padding: 16px;
  &:hover {
    .external-link {
      opacity: 1;
    }
  }
}

.external-link {
  margin-left: 8px;
  opacity: 1;
  color: $gray;
  transition: opacity 1s;
  text-decoration: none !important;
  position: relative;
  &:hover {
    cursor: pointer;
    color: $gray
  }
}

.external-link h2::before {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 2.4px;
  position: absolute;
  bottom: -5px;
  left: 0px;
  display: none;
  animation: beforeAnimate .5s;
}

.external-link h2:hover::before {
  display: unset;
}

// link animation on hover

@keyframes beforeAnimate {
  0% {
    width: 0%;
    transform: translateX(-50%);
  }
  100% {
    width: 100%;
    transform: translateX(0%);
  }
}

// Smallest device
@media (min-width: 400px) and (max-width: 575px) {
  .card-product-infos {
    width: 48%;
    margin: 1%;
  }
  .external-link {
    opacity: 1;
  }
}
