.star span {
  position: absolute;
  top: 0px;
  color: #fff;
  animation: animate 5s linear forwards;
}

.star::after {
  content: "\f005";
  font-family: fontAwesome;
  text-shadow: 0 0 5px #fff,
  0 0 20px #fff,
  0 0 50px #fff;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
