  <!-- Banner Section -->
<%= partial 'partials/banner' %>
<div class="container-fluid ">
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
